<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Galaxy Bot API</title>
<meta charset="utf-8">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<meta name="description" content="Prune log"/>
<meta property="og:title" content="Prune"/>
<meta property="og:type" content="website" />
<meta property="og:description" content="Prune log" />
<link href="https://fonts.googleapis.com/css?family=Arimo:700,700italic,900,900italic%7CAsap:400,400italic,700,700italic" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<%=config.domain%>/main.css">
</head>
<body>

    <style>
        body {
            background-color: #332f2f;
        }

        #headmain {
            background-color: #332f2f;
            color: #fff;
            padding: 10px;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        #text {
            font-size: 20px;
            text-align: center;
            padding: 10px;
            
        }
    </style>

<div id="wrapper">
<div id="main">
<div class="inner">
<center><h1 id="headmain">Galaxy Bot API</h1></center>


</span><br /><span>
    <center><span id="text"><span style="color: #3398DB">Welcome to the Galaxy Bot API! <br> Not much to see here yet :( </br></span></span><br /></center>

</p>
